@charset "UTF-8";

// Global variables

@main-width: 1175px;

@red : #ED1A3B;

@gray : #808076;

// Global variables end

// Global Styles

* {
  margin: 0;
}

html, body {
	margin: 0;
    padding: 0;
}

html {
	position: relative;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	background: #F4F7F9;
	width: 100%;
  	height: 100%;
}

.container {
	width: @main-width;
	margin: 0 auto;
}

.row {
	width: 100%;
	float: left;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

.vertical {
	vertical-align: middle;
	width: 100%;
	height: auto;
	display: table-cell;
}

::-webkit-input-placeholder {color:#000;}
::-moz-placeholder          {color:#000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000;}

// Layout

.left-col {
	width: 265px;
	float: left;
}

.content-col {
	width: 770px;
	float: left;
}

.page-headliner {
	width: 100%;
	float: left;
	font-size: 28px;
	line-height: 32px;
	color: #808080;
	margin-bottom: 25px;

	&:first-letter {
		color: @red;
	}
}

.page-info {
	border-top: 10px solid #E5E5E5;
	border-bottom: 10px solid #E5E5E5;
	width: 100%;
	float: left;
	padding: 35px 0;
	h3 {
		font-size: 20px;
		color: #808080;
		margin-bottom: 20px;
	}
	.text {
		float: left;
		width: 420px;
		font-size: 13px;
		line-height: 18px;
	}
	&__form {
		float: right;
		width: 300px;
		text-align: left;
		::-webkit-input-placeholder {color:#000;}
		::-moz-placeholder          {color:#000;}/* Firefox 19+ */
		:-moz-placeholder           {color:#000;}/* Firefox 18- */
		:-ms-input-placeholder      {color:#000;}
		input[type="text"] {
			border: 0px;
			width: 215px;
			font-size: 13px;
			border-bottom: 1px solid #CBCBCB;
			color: #000;
			outline: none;
			padding-bottom: 10px;
			margin-bottom: 10px;
			&:focus {
				border-bottom: 1px solid @red;
			}
		}
		input[type="submit"] {
			width: 215px;
			height: 35px;
			text-decoration: none;
			text-align: center;
			color: @gray;
			line-height: 31px;
			display: inline-block;
			margin: 0 auto;
			border: 2px solid @red;
			border-radius: 5px;
			margin-top: 15px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 0.1em;
			background: #fff;
			box-sizing: border-box;
		}
	}
}

.solutions-button {
	width: 150px;
	height: 150px;
	border: 1px solid @red;
	background: #fff;
	border-radius: 15px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 9;
	display: none;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	z-index: 999999;
	&__cover {
		margin-top: 15px;
		margin-bottom: 5px;
	}
	&__headliner {
		display: inline-block;
		width: 100%;
		font-size: 15px;
		text-transform: uppercase;
		line-height: 18px;
		color: #808076;
		margin-bottom: 5px;
	}
}

// Header

.header {
	width: 100%;
	float: left;
	height: 120px;
	//background: #F5F8FA url("../img/layout/header-bg.png") no-repeat left top 34px;
	background: #F5F8FA;
	height: 144px;
	position: relative;
	// border-bottom: 4px solid #8e8da3;
	.container {
		position: relative;
		&:before {
			content: '';
			width: 734px;
			height: 26px;
			background: url("../img/layout/header.svg") no-repeat;
			position: absolute;
			left: -730px;
			top: 35px;
		}
	}
	&__top {
		width: 100%;
		float: left;
		margin-top: 34px;
		&:after {
			content: '';
			width: 922px;
			height: 2px;
			background: @red;
			display: block;
			float: left;
			margin-top: 4px;
		}
	}
	&__logo {
		float: left;
		margin-left: 9px;
		margin-top: 2px;
		.logo {
			float: left;
		}
	}
	&__tagline {
		float: left;
		font-size: 13px;
		color: @gray;
		line-height: 14px;
		width: 176px;
		margin-top: 1px;
		&:before {
			content: '';
			width: 1px;
			height: 24px;
			background: @red;
			float: left;
			margin-left: 24px;
			margin-right: 20px;
			margin-top: 3px;
		}
	}
	&__phone {
		float: left;
		font-size: 33px;
		color: @gray;
		font-weight: 300;
		margin-top: -9px;
		letter-spacing: -0.044em;
		span {
			display: block;
			float: left;
			font-size: 13px;
			font-weight: 400;
			color: @red;
			margin-top: 6px;
			margin-right: 8px;
			letter-spacing: normal;
		}
	}
	&__phone-text {
		float: left;
		font-size: 13px;
		color: @gray;
		line-height: 14px;
		width: 200px;
		margin-top: -1px;
		&:before {
			content: '';
			width: 1px;
			height: 24px;
			background: @red;
			float: left;
			margin-left: 18px;
			margin-right: 18px;
			margin-top: 3px;
		}
	}
	&__profile-link {
		float: right;
		font-size: 12px;
		text-transform: uppercase;
		color: @red;
		text-decoration: none;
		margin-right: 27px;
		margin-top: 1px;
		&:before {
			content: '';
			width: 21px;
			height: 23px;
			background: url("../img/layout/profile.svg") no-repeat;
			display: block;
			float: left;
			margin-top: -2px;
			margin-right: 12px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__order-status-link {
		float: right;
		font-size: 12px;
		text-transform: uppercase;
		color: @red;
		text-decoration: none;
		margin-right: 44px;
		margin-top: 1px;
		&:before {
			content: '';
			width: 21px;
			height: 26px;
			background: url("../img/layout/order-status.svg") no-repeat;
			display: block;
			float: left;
			margin-top: -3px;
			margin-right: 8px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__bottom {
		width: 100%;
		float: left;
		margin-top: 16px;
	}
	&__menu-link {
		float: left;
		margin-right: 20px;
		cursor: pointer;
	}
	&__search {
		float: left;
		margin-right: 22px;
		position: relative;
		cursor: pointer;
	}
	&__menu {
		margin: 0;
		padding: 0;
		float: left;
		margin-top: -1px;
		li {
			list-style-type: none;
			float: left;
			margin-right: 27px;
			&:last-child {
				margin-right: 0px;
			}
			a {
				font-size: 14px;
				color: @gray;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&__submit-button {
		// display: block;
		// width: 215px;
		// height: 44px;
		// background: url("../img/layout/submit-button.png");
		// float: right;
		// text-align: center;
		// line-height: 44px;
		// font-size: 12px;
		// text-transform: uppercase;
		// color: @gray;
		// letter-spacing: 0.2em;
		// margin-right: 14px;
		margin-top: -20px;
		// text-decoration: none;
		display: block;
		float: right;
		width: 215px;
	}
}

.header-lang {
	width: 30px;
	position: absolute;
	right: -45px;
	top: 35px;
	&__item {
		font-size: 13px;
		color: @red;
		display: block;
		margin-bottom: 10px;
		text-transform: uppercase;
		text-decoration: none;
		&.active {
			color: @gray;
		}
	}
}

// Slider 

.front-page-slider	{
	width: 100%;
	float: left;
	position: relative;
	// background: url("../img/slider/slide.png");
	&__caption {
		width: 100%;
		position: absolute;
		top: 20px;
		z-index: 100;
		font-size: 50px;
		color: #fff;
		font-weight: 500;
		line-height: 55px;
	}
	&__head {
		width: 100%;
		float: left;
		z-index: 100;
		font-size: 50px;
		color: #fff;
		font-weight: 500;
		line-height: 55px;
	}
	&__text {
		width: 100%;
		z-index: 100;
		font-size: 18px;
		color: #fff;
		font-weight: 400;
		line-height: 28px;
	}
	.owl-dots {
	    counter-reset: dots;
	    position: relative;
	    z-index: 9999999999;
	    font-size: 15px;
	    text-align: right;
	    max-width: 1200px;
	    min-width: 300px;
	    margin: 0 auto;
	    margin-top: -80px;
	    box-sizing: border-box;
	    padding-right: 20px;
	}
	.owl-dots span {
		width: 48px !important;
		height: 48px !important;
		line-height: 44px;
		border: 2px solid #A1A1A1;
		background: none !important;
		text-align: center;
		color: #fff !important;
		box-sizing: border-box !important;
	}
	.owl-dot.active span {
		background: #fff !important;
		color: #3C3C3B !important;
	}
	.owl-dot span:before {
	    counter-increment:dots;
	    content: counter(dots);
	}
}

// Products

.products {
	width: 100%;
	float: left;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid @red;
	padding-bottom: 99px;
	&__headliner {
		width: 100%;
		float: left;
		font-size: 60px;
		text-align: center;
		color: #4D4D4E;
		margin-top: 74px;
		margin-bottom: 60px;
		&:first-letter {
			color: #E8463C;
		}
	}
	&__box {
		width: 300px;
		// float: left;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		margin: 0 20px;
		min-height: 450px;
		position: relative;
	}
	&__image {
		width: 100%;
		float: left;
		height: 122px;
		line-height: 122px;
		img {
			// vertical-align: middle;
			display: inline-block;
		}
	}
	&__box-headliner {
		width: 100%;
		float: left;
		font-size: 28px;
		color: #4D4D4E;
		text-align: left;
		margin-top: 15px;
		line-height: 32px;
		&:first-letter {
			color: #E8463C;
		}
	}
	&__text {
		width: 100%;
		float: left;
		text-align: left;
		line-height: 18px;
		font-size: 13px;
		margin-top: 34px;
		ul {
			margin: 0;
			padding: 0;
			li {
				//list-style-image: url("../img/layout/list-dot.png");
				list-style-type: none;
				margin-bottom: 10px;
				float: left;
				&:before {
				content: "—";
				float: left;
				display: block;
				height: 100%;
				width: 20px;
				}
				p {
					float: left;
					width: 280px;
				}
			}
		}
	}
	&__button {
		width: 215px;
		height: 35px;
		display: block;
		box-sizing: border-box;
		border: 1px solid @red;
		line-height: 33px;
		text-align: center;
		float: left;
		text-decoration: none;
		color: @gray;
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 20px;
		border-radius: 6px;
		letter-spacing: 0.1em;
		position: absolute;
		bottom: 0;
	}
}

// Solutions

.solutions {
	width: 100%;
	float: left;
	background: #F4F8F9;
	text-align: center;
	padding-bottom: 150px;
	margin-top: 20px;
	&__headliner {
		width: 100%;
		float: left;
		font-size: 60px;
		text-align: center;
		color: #4D4D4E;
		margin-top: 74px;
		margin-bottom: 55px;
		&:first-letter {
			color: #E8463C;
		}
	}
	&__box {
		width: 276px;
		height: 180px;
		display: block;
		float: left;
		margin-right: 23px;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
		img {
			float: left;
		}
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(0,0,0,0.3);
			
			transition: 0.3s;
		}
		&:hover:before {
			background: rgba(0,0,0,0.1);
		}
	}
	&__label {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 48px;
		left: 0;
		display: table;
		font-size: 16px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 0.1em;
	}
}

// News

.news {
	width: 100%;
	float: left;
	padding-bottom: 150px;
	background: #fff;
	&__headliner {
		width: 100%;
		float: left;
		font-size: 60px;
		text-align: center;
		color: #4D4D4E;
		margin-top: 84px;
		margin-bottom: 60px;
		&:first-letter {
			color: #E8463C;
		}
	}
	&__box {
		width: 277px;
		float: left;
		margin-right: 22px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__image {
		width: 100%;
		float: left;
	}
	&__date {
		width: 100%;
		float: left;
		font-size: 13px;
		color: #535353;
		margin-top: 16px;
	}
	&__head {
		width: 100%;
		float: left;
		margin-top: 8px;
		line-height: 18px;
		a {
			color: #D95962;
			text-decoration: none;
			font-size: 14px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__text {
		width: 100%;
		float: left;
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;
		margin-top: 5px;
	}
}

// Clients

.clients {
	width: 100%;
	float: left;
	background: #F4F8F9;
	padding-bottom: 100px;
	&__headliner {
		width: 100%;
		float: left;
		font-size: 60px;
		text-align: center;
		color: #4D4D4E;
		margin-top: 79px;
		margin-bottom: 60px;
		&:first-letter {
			color: #E8463C;
		}
	}
	&__container {
		width: 100%;
		float: left;
		text-align: center;
	}
	&__box {
		display: inline-block;
		margin: 10px 40px;
		vertical-align: middle;
	}
}

// Page

.page-top {
	width: 100%;
	float: left;
	height: 40px;
	background: url("../img/layout/page-top.png") no-repeat center center;
}

// News page

.news-page {
	float: left;
	width: 100%;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		padding-top: 20px;
		border-bottom: 1px solid @red;
		margin-bottom: 30px;
		text-align: center;
	}
	&__left {
		width: 265px;
		float: left;
		min-height: 100px;
		background: #fff;
		text-align: left;
	}
	&__right {
		width: 910px;
		float: left;
		text-align: left;
	}
	&__headliner {
		width: 100%;
		float: left;
		font-size: 36px;
		color: #808080;
		margin-top: 30px;
		margin-bottom: 30px;
		box-sizing: border-box;
		padding-left: 235px;
		span {
			color: #E7463C;
		}
	}
	&__banner {
		width: 862px;
		float: left;
		height: 65px;
		background: #F4F7F9;
		text-align: center;
		color: #E1E1EC;
		font-size: 28px;
		letter-spacing: 0.7em;
		line-height: 65px;
		text-transform: uppercase;
		margin-top: 20px;
	}
	&__block {
		width: 100%;
		float: left;
		&:after {
			content: '';
			width: 695px;
			height: 1px;
			background: #CBCBCB;
			float: left;
			margin-top: 35px;
			margin-bottom: 28px;
		}
	}
	&__image {
		width: 220px;
		margin-right: 20px;
		float: left;
	}
	&__date {
		width: 622px;
		display: inline-block;
		font-size: 13px;
		font-weight: 300;
		&:after {
			content: '';
			width: 36px;
			height: 1px;
			background: #CBCBCB;
			display: block;
			margin-top: 10px;
			margin-bottom: 12px;
		}
	}
	&__head {
		width: 622px;
		display: inline-block;
		font-size: 16px;
		font-weight: 300;
		color: #E7463C;
		line-height: 18px;
	}
	&__text {
		width: 622px;
		display: inline-block;
		font-size: 13px;
		color: #6F6F6E;
		line-height: 24px;
		font-weight: 300;
		margin-top: 5px;
	}
	&__more-btn {
		width: 215px;
		height: 35px;
		text-decoration: none;
		text-align: center;
		color: @gray;
		line-height: 35px;
		display: inline-block;
		margin: 0 auto;
		border: 1px solid @red;
		border-radius: 5px;
		margin-top: 10px;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
	}
}

// News full

.news-full {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		box-sizing: border-box;
		padding-left: 265px;
		display: inline-block;
		background: #fff;
		text-align: left;
		padding-top: 70px;
		padding-right: 30px;
		padding-bottom: 30px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	&__headliner {
		width: 100%;
		display: inline-block;
		font-size: 28px;
		color: #808080;
		span {
			color: #E7463C;
		}
	}
	&__date {
		width: 100%;
		display: inline-block;
		font-size: 13px;
		font-weight: 700;
		color: #808080;
		margin-bottom: 10px;
		&:before {
			content: '';
			width: 36px;
			height: 1px;
			background: @red;
			display: block;
			margin-top: 20px;
			margin-bottom: 22px;
		}
	}
	&__content {
		width: 100%;
		display: inline-block;
		font-size: 13px;
		font-weight: 300;
		line-height: 24px;
		color: #6F6F6E;
		b {
			font-weight: 400;
		}
	}
	&__all-news-btn {
		width: 215px;
		height: 35px;
		text-decoration: none;
		text-align: center;
		color: @gray;
		line-height: 35px;
		display: inline-block;
		margin: 0 auto;
		border: 1px solid @red;
		border-radius: 5px;
		margin-top: 30px;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
	}
}

// Default page

.default-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		padding: 60px 100px;
		box-sizing: border-box;
		text-align: left;
		border-bottom: 1px solid @red;
		margin-bottom: 60px;
	}
	&__content {
		width: 700px;
		float: left;
	}
	&__headliner {
		font-size: 32px;
		color: #808080;
		margin-bottom: 35px;
		&:first-letter {
			color: @red;
		}
	}
	&__content {
		font-size: 13px;
		line-height: 24px;
		color: #6F6F6E;
	}
	&__sidebar {
		width: 274px;
		float: left;
	}
}

// Sidebar form block

.sidebar-form {
	width: 100%;
	text-align: left;
	border-left: 1px solid #CBCBCB;
	margin-left: 25px;
	margin-top: 60px;
	padding-left: 40px;
	&__headliner {
		font-size: 16px;
		font-weight: 500;
		color: #808080;
		margin-bottom: 20px;
		&:first-letter {
			color: @red;
		}
	}
	&__form {
		::-webkit-input-placeholder {color:#000;}
		::-moz-placeholder          {color:#000;}/* Firefox 19+ */
		:-moz-placeholder           {color:#000;}/* Firefox 18- */
		:-ms-input-placeholder      {color:#000;}
		input[type="text"] {
			border: 0px;
			width: 215px;
			font-size: 13px;
			border-bottom: 1px solid #CBCBCB;
			color: #000;
			outline: none;
			padding-bottom: 10px;
			margin-bottom: 10px;
			&:focus {
				border-bottom: 1px solid @red;
			}
		}
		input[type="submit"] {
			width: 215px;
			height: 35px;
			text-decoration: none;
			text-align: center;
			color: @gray;
			line-height: 31px;
			display: inline-block;
			margin: 0 auto;
			border: 2px solid @red;
			border-radius: 5px;
			margin-top: 15px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 0.1em;
			background: #fff;
			box-sizing: border-box;
		}
	}
}

// Calc 

.calc-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		box-sizing: border-box;
		padding: 60px 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	&__left {
		width: 265px;
		float: left;
	}
	&__calc-type-title {
		width: 100%;
		float: left;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		color: #808076;
		margin-top: 12px;
		&:after {
			content: '';
			width: 36px;
			height: 1px;
			background: #CBCBCB;
			display: block;
			margin-top: 20px;
			margin-bottom: 8px;
		}
	}
	&__menu {
		margin: 0;
		padding: 0;
		float: left;
		margin-top: 20px;
		li {
			list-style-type: none;
			margin-bottom: 10px;
			a {
				font-size: 13px;
				color: #E7463C;
				text-decoration: none;
				display: inline-block;
			}
			&:before {
				content: '';
				width: 14px;
				height: 16px;
				float: left;
				margin-top: 4px;
				background: url("../img/layout/calc.png");
				display: block;
				margin-right: 12px;
			}
		}
		.active a {
			color: #808080;
		}
	}
	&__right {
		float: left;
		width: 770px;
	}
	&__headliner {
		width: 100%;
		float: left;
		font-size: 32px;
		color: #4D4D4D;
		margin-bottom: 25px;
		margin-top: -10px;
		&:first-letter {
			color: @red;
		}
	}
	&__form {
		width: 100%;
		float: left;
		.select-box {
			float: left;
			margin-right: 100px;
		}
		input[type="submit"] {
			width: 215px;
			height: 35px;
			text-decoration: none;
			text-align: center;
			color: @gray;
			line-height: 31px;
			display: inline-block;
			margin: 0 auto;
			border: 2px solid @red;
			border-radius: 5px;
			margin-top: 15px;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 0.1em;
			background: #fff;
			box-sizing: border-box;
		}
		select {
			width: 215px;
			height: 30px;
			box-sizing: border-box;
		}
		input[type="text"] {
			width: 215px;
			height: 36px;
			box-sizing: border-box;
			border: 0;
			border-bottom: 1px solid #D4D4DF;
			padding-left: 0px;
			background: none;
			border-radius: 0;
			line-height: 34px;
			color: #000;
			font-size: 13px;
			text-align: left;
			outline: none;
			margin-top: 24px;
		}
		.row {
			margin-bottom: 10px;
		}
		.label {
			font-size: 13px;
			font-weight: 300;
			color: #000;
			margin-bottom: 5px;
		}
	}
	&__cost {
		width: 100%;
		float: left;
		height: 60px;
		background: #F9F9F9;
		border-top: 1px solid @red;
		box-sizing: border-box;
		line-height: 60px;
		padding-left: 25px;
		font-size: 16px;
		font-weight: 600;
		color: #808080;
		margin-top: 30px;
		.red {
			color: @red;
		}
		.regular {
			font-weight: normal;
		}
	}
	&__cost-desc {
		width: 100%;
		float: left;
		font-size: 13px;
		font-weight: 300;
		margin-top: 25px;
	}
	&__order-btn {
		width: 215px;
		height: 36px;
		text-decoration: none;
		text-align: center;
		color: @gray;
		line-height: 33px;
		display: inline-block;
		margin: 0 auto;
		border: 2px solid @red;
		border-radius: 5px;
		margin-top: 15px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
		background: #fff;
		box-sizing: border-box;
	}
	&__desc {
		border-top: 1px solid #CBCBCB;
		padding-top: 40px;
		margin-top: 60px;
		font-size: 13px;
		line-height: 24px;
		color: #6F6F6E;
		margin-bottom: 60px;
	}
	&__order {
		border-top: 10px solid #E5E5E5;
		border-bottom: 10px solid #E5E5E5;
		width: 100%;
		float: left;
		padding: 35px 0;
		h3 {
			font-size: 20px;
			color: #808080;
		}
		.text {
			float: left;
			width: 420px;
			font-size: 13px;
			line-height: 18px;
		}
	}
	&__order-form {
		float: right;
		width: 300px;
		text-align: right;
		::-webkit-input-placeholder {color:#000;}
		::-moz-placeholder          {color:#000;}/* Firefox 19+ */
		:-moz-placeholder           {color:#000;}/* Firefox 18- */
		:-ms-input-placeholder      {color:#000;}
		input[type="text"] {
			border: 0px;
			width: 215px;
			font-size: 13px;
			border-bottom: 1px solid #CBCBCB;
			color: #000;
			outline: none;
			padding-bottom: 10px;
			margin-bottom: 10px;
			&:focus {
				border-bottom: 1px solid @red;
			}

		}
		input[type="submit"] {
			width: 215px;
			height: 35px;
			text-decoration: none;
			text-align: center;
			color: @gray;
			line-height: 31px;
			display: inline-block;
			margin: 0 auto;
			border: 2px solid @red;
			border-radius: 5px;
			margin-top: 15px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 0.1em;
			background: #fff;
			box-sizing: border-box;
		}
	}
	&__expirience {
		width: 100%;
		float: left;
		font-size: 13px;
		font-weight: 300;
		line-height: 24px;
		color: #6F6F6E;
		margin-top: 70px;
	}
}

// Contacts page

.contacts-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		box-sizing: border-box;
		padding: 60px 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	&__left {
		width: 265px;
		float: left;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				margin-bottom: 15px;
				a {
					font-size: 13px;
					text-decoration: none;
					color: #808080;
				}
				ul {
					margin-left: 30px;
					margin-top: 10px;
					li {
						margin-bottom: 5px;
					}
				}
			}
			.active-section {
				color: #E7463C;
			}
			.active {
				color: #E7463C;
				&:before {
					content: '— ';
				}
			}
			.contacts {
				&:before {
					content: '';
					display: block;
					width: 19px;
					height: 20px;
					float: left;
					margin-right: 10px;
					background: url("../img/layout/contacts-menu.png");
				}
			}
			.pretension {
				&:before {
					content: '';
					display: block;
					width: 21px;
					height: 19px;
					float: left;
					margin-right: 8px;
					background: url("../img/layout/pretension-menu.png");
				}
			}
		}
	}

	&__right {
		float: left;
		width: 770px;
	}
	&__headliner {
		width: 100%;
		float: left;
		font-size: 32px;
		color: #4D4D4D;
		margin-bottom: 25px;
		margin-top: -20px;
		&:first-letter {
			color: @red;
		}
	}
	&__text {
		width: 100%;
		float: left;
		font-size: 14px;
		line-height: 24px;
		font-weight: 300;
		color: #6F6F6E;
	}
	&__director {
		width: 300px;
		float: left;
		font-size: 14px;
		line-height: 18px;
		color: #6F6F6E;
		margin-top: 50px;
		img {
			margin-bottom: 3px;
		}
		p {
			display: block;
			margin-top: 10px;
		}
		.email {
			margin-top: 10px;
			display: block;
		}
	}
	&__map {
		width: 470px;
		float: left;
		margin-top: 50px;
		iframe {
			width: 470px;
			height: 160px;
			border: 0;
			float: left;
			pointer-events: none;
		}
		a {
			color: #E7463C;
			font-size: 13px;
			float: left;
			margin-top: 10px;
			font-weight: 300;
		}
	}
	.accordion {
		margin-top: 20px;
		.accordion__toggle {
			img {
				margin-left: 5px;
			}
		}
	}
}

.tabs {
	margin-top: 25px;
	width: 100%;
	float: left;
	&__city {
		width: 100%;
		float: left;
		font-size: 14px;
		color: #808080;
		text-transform: uppercase;
		border-bottom: 1px solid #E5E5E5;
		padding-bottom: 10px;
	}
	&__address {
		margin-top: 10px;
		width: 520px;
		float: left;
		font-size: 14px;
		line-height: 24px;
		color: #6F6F6E;
	}
	&__phone {
		margin-top: 10px;
		width: 250px;
		float: left;
		font-size: 14px;
		line-height: 24px;
		color: #6F6F6E;
		.col {
			width: 50%;
			float: left;
		}
	}
}

// Solutions page

.solutions-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		box-sizing: border-box;
		padding: 60px 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	.page-vertical-menu {
		margin-bottom: 20px;
	}
	&__headliner {
		width: 100%;
		float: left;
		font-size: 28px;
		color: #4D4D4D;
		margin-bottom: 20px;
		img {
			vertical-align: middle;
			margin-right: 10px;
		}
		span {
			vertical-align: middle;
			display: inline-block;
			&:first-letter {
				color: #E7463C;
			}
		}
	}
	&__left {
		width: 50%;
		float: left;
	}
	&__right {
		width: 50%;
		float: left;
	}
	&__col-headliner {
		width: 100%;
		float: left;
		font-size: 16px;
		color: #808080;
		font-weight: 500;
		margin-bottom: 20px;
		img {
			margin-bottom: -5px;
			margin-right: 5px;
		}
	}
	&__col-text {
		width: 100%;
		float: left;
		font-size: 13px;
		color: #6F6F6E;
		line-height: 24px;
		box-sizing: border-box;
		padding-right: 20px;
		ul {
			width: 100%;
			float: left;
			padding: 0;
			padding-left: 20px;
			font-size: 13px;
			color: #FF675C;
			li {
				margin-bottom: 5px;
				list-style-type: circle;
				p {
					color: #6F6F6E;
				}
			}
		}
	}
	&__clients {
		width: 100%;
		float: left;
		text-align: center;
		border-top: 1px solid #CBCBCB;
		border-bottom: 1px solid #CBCBCB;
		padding: 15px 0;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	&__separator {
		width: 100%;
		float: left;
		height: 1px;
		background: #CBCBCB;
		margin: 15px 0;
	}

	&__client-link {
		display: inline-block;
		margin: 0 10px;
		img {
			width: 120px;
		}
	}
	&__image-cover {
		width: 100%;
		float: left;
		margin-bottom: 40px;
		height: 317px;
		background: #CBCBCB;
	}
}

// Delivery page

.delivery-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		box-sizing: border-box;
		padding: 60px 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	.page-info {
		margin-top: 50px;
	}
	.calc-page__desc {
		border-top: 0;
		margin-top: 0px;
	}
	&__form {
		margin-top: 30px;
	}
	&__order-form {
		width: 100%;
		float: left;
		margin-top: 30px;
		input[type="text"] {
			border: 0;
		    width: 156px;
		    font-size: 13px;
		    border-bottom: 1px solid #CBCBCB;
		    color: #000;
		    outline: 0;
		    padding-bottom: 10px;
		    margin-bottom: 20px;
		    display: inline-block;
		    margin-right: 40px;
		    vertical-align: top;
		    &.last {
		    	margin-top: -75px;
		    }
		}
		textarea {
			width: 362px;
			height: 72px;
			background: url("../img/layout/textarea-line.png");
		    font-size: 13px;
		    line-height: 24px;
		    margin-bottom: 40px;
		    border: 0;
		    outline: none;
		    padding: 0;
		    overflow: hidden;
		    display: inline-block;
		    margin-top: 5px;
		}
		input[type="submit"] {
			line-height: 33px;
			margin-top: -20px;
		}
	}
	&__text {
		width: 100%;
		float: left;
		font-size: 13px;
		line-height: 24px;
		color: #6F6F6E;
	}
}

.price-table {
	width: 100%;
	float: left;
	margin-top: 30px;
	&__table {
		width: 100%;
		float: left;
		font-size: 11px;
		color: #808080;
		margin-bottom: 35px;
		tr {
			&:nth-child(2n+1) {
				background: #F9F9F9;
			}
		}
		td {
			padding: 10px;
		}
	}
	&__head {
		border-bottom: 1px solid #CBCBCB;
		vertical-align: top;
		font-size: 10px;
		text-transform: uppercase;
		color: #808080;
		line-height: 24px;
	}
	&__info {
		margin-left: 100px;
		letter-spacing: 0.15em;
	}
	&__small-table {
		td {
			width: 50%;
		}
	}
}

.delivery-desc {
	width: 100%;
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid #CBCBCB;
	padding-bottom: 25px;
	margin-top: 40px;
}

.container-shipping-map img {
	width: 770px;
}

.delivery-steps {
	width: 100%;
	float: left;
	margin-top: 40px;
	&__box-headliner {
		width: 100%;
		float: left;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
		font-weight: 500;
		color: #808080;
		&:first-letter {
			color: @red;
		}
	}
	&__step {
		width: 125px;
		height: 122px;
		background: #fff;
		border: 1px solid #E7463C;
		box-sizing: border-box;
		border-radius: 5px;
		float: left;
		color: #808080;
		margin-right: 25px;
		position: relative;
		cursor: pointer;
		&.active {
			background: #E7463C;
			color: #fff;
		}
		&:after {
			content: '';
			width: 13px;
			height: 6px;
			background: url("../img/layout/delivery-arrow.png");
			display: block;
			position: absolute;
			top: 37px;
			right: -12px;
		}
		&:last-child:after {
			display: none;
		}
		&.active:before {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			height: 23px;
			background: #E7463C;
			bottom: -23px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__headliner {
		height: 40px;
		width: 100%;
		float: left;
		border-bottom: 1px solid #CBCBCB;
		line-height: 40px;
		font-size: 11px;
		img {
			vertical-align: middle;
			margin-left: 10px;
			margin-right: 5px;
		}
	}
	&__text {
		width: 100%;
		float: left;
		font-size: 13px;
		box-sizing: border-box;
		padding-top: 10px;
		padding-left: 20px;
	}
}

.delivery-steps-desc {
	width: 100%;
	float: left;
	margin-top: 30px;
	display: none;
	position: relative;
	&.step1:before {
		content: '';
		display: block;
		position: absolute;
		width: 62px;
		height: 1px;
		background: @red;
		top: -9px;
		left: 1px;
	}
	&.step2:before {
		content: '';
		display: block;
		position: absolute;
		width: 212px;
		height: 1px;
		background: @red;
		top: -9px;
		left: 1px;
	}
	&.step3:before {
		content: '';
		display: block;
		position: absolute;
		width: 362px;
		height: 1px;
		background: @red;
		top: -9px;
		left: 1px;
	}
	&.step4:before {
		content: '';
		display: block;
		position: absolute;
		width: 512px;
		height: 1px;
		background: @red;
		top: -9px;
		left: 1px;
	}
	&.active {
		display: block;
	}
	&__box {
		width: 551px;
		height: 28px;
		line-height: 26px;
		border: 1px solid #CBCBCB;
		border-radius: 5px;
		font-size: 13px;
		color: #1D1D1B;
		box-sizing: border-box;
		padding-left: 10px;
		margin-bottom: 10px;
		position: relative;
		margin-left: 25px;
		&:before {
			content: '';
			width: 1px;
			height: 38px;
			float: left;
			background: #E7463C;
			position: absolute;
			left: -25px;
			top: -10px;
		}
		&:last-child:before {
			height: 23px;
		}
		&:after {
			content: '';
			width: 13px;
			height: 4px;
			background: url("../img/layout/delivery-desc-arrow.png");
			position: absolute;
			left: -25px;
			top: 10px;
		}
	}
}

// Supppies page

.supplies-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		box-sizing: border-box;
		padding: 60px 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	&__text {
		font-size: 13px;
		font-weight: 300;
		line-height: 24px;
		color: #6F6F6E;
		margin-bottom: 30px;
	}
	&__show-text {
		color: #E7463C;
		border-bottom: 1px dashed #E7463C;
		cursor: pointer;
	}
	&__hidden-text {
		display: block;
		color: #6F6F6E;
		border-bottom: 0;
		cursor: auto;
		margin: 10px 0;
		display: none;
		width: 100%;
		float: left;
	}
	&__supplies-map {
		width: 100%;
		float: left;
		margin: 20px 0px 30px 0;
		img {
			width: 770px;
			float: left;
		}
	}
	&__posts {
		width: 100%;
		float: left;
		margin: 20px 0;
	}
	&__post {
		width: 120px;
		height: 53px;
		box-sizing: border-box;
		border: 1px solid #E7463C;
		border-radius: 5px;
		margin-right: 30px;
		float: left;
		cursor: pointer;
		font-size: 13px;
		line-height: 16px;
		color: #808080;
		padding-top: 10px;
		padding-left: 15px;
		font-weight: 500;
		transition: 0.5s;
		&.active {
			background: #E7463C;
			color: #fff;
		}
	}
	&__svh {
		width: 100%;
		float: left;
		margin: 20px 0;
		.row {
			margin-bottom: 20px;
		}
	}
	&__svh-box {
		width: 120px;
		height: 41px;
		box-sizing: border-box;
		border: 1px solid #E7463C;
		border-radius: 5px;
		margin-right: 30px;
		float: left;
		font-size: 13px;
		line-height: 16px;
		color: #808080;
		padding-left: 15px;
		font-weight: 500;
		line-height: 36px;
		transition: 0.5s;
		cursor: pointer;
		&.active {
			background: #E7463C;
			color: #fff;
		}
		.text {
			display: inline-block;
			vertical-align: middle;
			line-height: 16px;
		}
	}
	&__comment {
		width: 100%;
		float: left;
	}
	&__comment-headliner {
		width: 100%;
		float: left;
		font-size: 13px;
		font-weight: 300;
	}
	&__comment-body {
		margin-top: 20px;
		width: 100%;
		float: left;
		background: url("../img/layout/textarea-line.png");
		font-size: 13px;
		font-weight: 300;
		line-height: 24px;
		display: none;
		color: #6F6F6E;
		margin-bottom: 40px;
		&.active {
			display: block;
		}
	}
	.page-menu__menu {
		margin: 15px 0;
	}
	.page-button {
		margin-top: 20px;
		line-height: 33px !important;
		border: 2px solid @red !important;
	}
}

// Order page

.order-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		box-sizing: border-box;
		padding: 60px 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	&__form {
		width: 100%;
		float: left;
		margin-top: 30px;
		input[type="text"] {
			border: 0;
		    width: 213px;
		    font-size: 13px;
		    border-bottom: 1px solid #CBCBCB;
		    color: #000;
		    outline: 0;
		    padding-bottom: 10px;
		    margin-bottom: 20px;
		    margin-right: 27px;
		    vertical-align: top;
		    float: left;
		    &:focus {
		    	border-bottom: 1px solid @red;
		    }
		}
		textarea {
			width: 338px;
			height: 72px;
			background: url("../img/layout/textarea-line.png");
		    font-size: 13px;
		    line-height: 24px;
		    margin-bottom: 40px;
		    border: 0;
		    outline: none;
		    padding: 0;
		    overflow: hidden;
		    display: inline-block;
		    margin-top: 5px;
		}
	}
	&__selectbox {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	&__left-col {
		width: 250px;
		float: left;
	}
	&__right-col {
		width: 500px;
		float: left;
		input[type="text"] {
			width: 155px;
		}
	}
	&__submit-button {
		width: 215px;
		height: 35px;
		text-decoration: none;
		text-align: center;
		color: @gray;
		line-height: 31px;
		display: block;
		margin: 0 auto;
		border: 2px solid @red;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
		box-sizing: border-box;
		transition: 0.3s;
		background: #fff;
		float: left;
		margin-right: 30px;
		&:hover {
			background: @red;
			color: #fff;
		}
	}
	&__full-form-button {
		width: 253px;
		height: 35px;
		text-decoration: none;
		text-align: center;
		color: @gray;
		line-height: 33px;
		margin: 0 auto;
		border: 2px solid #CBCBCB;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
		box-sizing: border-box;
		transition: 0.3s;
		background: #fff;
		float: left;
		cursor: pointer;
		// &.hide {
		// 	width: 210px;
		// 	display: none;
		// }
		&:after {
			content: '';
			width: 12px;
			height: 7px;
			background: url("../img/layout/full-form-down.png");
			display: none;
		}
		&:hover {
			background: #CBCBCB;
			color: #fff;
		}
		&.hidden {
			width: 210px;
			display: none;
		}
		&.hide {
			width: 210px;
			display: inline-block;
			&.hidden {
				display: none;
			}
		}
		&.show {
			width: 250px;
			&.hidden {
				display: none;
			}
			&:after {
				content: '';
				width: 12px;
				height: 7px;
				background: url("../img/layout/full-form-down.png");
				display: none;
			}
		}
	}
	&__full-form-headliner {
		font-size: 20px;
		color: #808080;
		font-weight: 500;
		display: inline-block;
		float: left;
		width: 245px;
		&.hidden {
			display: none;
		}
	}
	&__full-form {
		width: 100%;
		float: left;
		margin-top: 10px;
		display: none;
		textarea {
			width: 587px;
			height: 72px;
			background: url("../img/layout/textarea-line.png");
		    font-size: 13px;
		    line-height: 24px;
		    margin-bottom: 40px;
		    border: 0;
		    outline: none;
		    padding: 0;
		    overflow: hidden;
		    display: inline-block;
		    margin-bottom: 20px;
		}
		.jq-selectbox__select {
			width: 278px;
		}
		.jq-selectbox__dropdown {
			width: 278px !important;
		}
	}
}

.full-form {
	width: 700px;
	float: left;
	input[type="text"] {
		width: 278px;
		margin-right: 31px;
	}
	&__left {
		width: 227px;
		float: left;
		margin-right: 20px;
	}
	&__right {
		width: 227px;
		float: left;
	}
	&__big-input {
		width: 587px !important;
	}
	&__select {
		margin-top: 5px;
		margin-bottom: 15px;
	}
	&__submit {
		line-height: 31px;
		border: 2px solid @red;
	}
}

// About page

.about-page {
	width: 100%;
	float: left;
	text-align: center;
	.container {
		display: inline-block;
		background: #fff;
		text-align: left;
		box-sizing: border-box;
		padding: 60px 70px;
		margin-bottom: 60px;
		border-bottom: 1px solid @red;
	}
	&__text {
		width: 100%;
		float: left;
		font-size: 13px;
		line-height: 24px;
		color: #6F6F6E;
		margin-top: 50px;
	}
}	

.map-switcher {
	width: 100%;
	float: left;
	&__canvas {
		width: 100%;
		float: left;
		img {
			width: 770px;
			display: none;
			&.active {
				display: block;
			}
		}
	}
	&__controls {
		width: 100%;
		float: left;
		margin-top: -94px;
	}
	&__nav-item {
		width: 104px;
		height: 92px;
		border: 1px solid #ED1A3B;
		border-radius: 5px;
		float: left;
		margin-right: 10px;
		text-align: center;
		position: relative;
		cursor: pointer;
		color: #E7463C;
		&.china {
			img {
				margin-top: 20px;
			}
			&.active {
				border: 1px dashed #FD8B00;
				color: #FD8B00;
			}
		}
		&.container-shipping {
			img {
				margin-top: 6px;
			}
			&.active {
				border: 1px dashed #8AB71F;
				color: #8AB71F;
			}
		}
		&.supplies {
			img {
				margin-top: 12px;
			}
			&.active {
				border: 1px dashed #EC1A3B;
				color: #EC1A3B;
			}
		}
	}
	&__nav-text {
		width: 100%;
		display: inline-block;
		font-size: 11px;
		box-sizing: border-box;
		position: absolute;
		bottom: 5px;
		left: 0;
		text-align: center;
	}
}

// Footer

.footer {
	width: 100%;
	float: left;
	height: 426px;
	background: url("../img/layout/footer.jpg") no-repeat center center;
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	a {
		color: #E8463C;
	}
	&__headliner {
		width: 100%;
		float: left;
		font-size: 48px;
		color: #A1A0A0;
		text-align: center;
		margin-top: 67px;
		font-family: "proxima-reg";
		&:after {
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			float: left;
			background: #E21E25;
			margin-top: 48px;
			margin-bottom: 54px;
		}
	}
	&__left {
		width: 940px;
		float: left;
	}
	&__row {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	&__copyright {
		float: left;
		margin-right: 72px;
		a {
			float: left;
			margin-top: 8px;
		}
	}
	&__address {
		float: left;
		margin-right: 121px;
		a {
			float: left;
			margin-top: 8px;
		}
	}
	&__phone {
		float: left;
		font-size: 33px;
		margin-top: -5px;
		letter-spacing: -0.044em;
		.thin {
			font-weight: 100;
		}
		.phone-label {
			font-size: 14px;
			font-weight: 400;
			display: block;
			letter-spacing: 0;
		}
	}
	&__designedby {
		float: left;
		width: 241px;
		img {
			margin-top: 7px;
			float: left;
		}
	}
	&__address2 {
		float: left;
		margin-top: 2px;
		width: 350px;
		a {
			float: left;
			margin-top: 8px;
		}
	}
	&__search {
		float: left;
		margin-left: 10px;
		margin-top: 13px;
		::-webkit-input-placeholder {color:#fff;}
		::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
		:-moz-placeholder           {color:#fff;}/* Firefox 18- */
		:-ms-input-placeholder      {color:#fff;}
		input[type="text"] {
			width: 235px;
			height: 36px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			box-sizing: border-box;
			border: 0;
			background: rgba(38,42,48,0.3);
			outline: none;
			float: left;
			font-size: 14px;
			padding-left: 15px;
			color: #fff;
		}
		input[type="submit"] {
			width: 36px;
			height: 36px;
			background: rgba(38,42,48,0.3) url("../img/layout/search-button.png") no-repeat center center;
			border: 0;
			float: left;
			box-sizing: border-box;
			outline: none;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	&__right {
		width: 235px;
		float: left;
	}
	&__order {
		width: 217px;
		height: 61px;
		background: url("../img/layout/footer-order.png");
		display: block;
		text-align: center;
		line-height: 61px;
		text-decoration: none;
		font-size: 12px;
		color: #fff !important;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		float: right;
		margin-top: 11px;
	}
}

.slideout-menu {
  position: fixed;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 280px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}