@red : #ED1A3B;

@gray : #808076;

// Global

h2 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	color: #808080;
}

h5 {
	font-size: 13px;
	font-weight: 500;
	color: #6F6F6E;
}

// Layout

.page-menu {
	width: 100%;
	float: left;
	&__headliner {
		width: 100%;
		display: inline-block;
	    font-size: 10px;
		text-transform: uppercase;
	    letter-spacing: .3em;
	    color: #808076;
	    margin-top: 15px;
	    &:first-child{
	    	margin-top: 0;
	    }
	    &:after {
			content: '';
		    width: 36px;
		    height: 1px;
		    background: #CBCBCB;
		    display: block;
		    margin-top: 15px;
		    margin-bottom: 15px;
	    }
	}
	&__menu {
		margin: 0;
		padding: 0;
		float: left;
		margin-bottom: 20px;
		li {
			list-style-type: none;
			margin-bottom: 15px;
			line-height: 24px;
			&.current a {
				color: @gray;
				font-weight: 700;
			}
			&:hover a {
				color: @gray;
			}
			&:last-child {
				margin-bottom: 0px;
			}
			img {
				vertical-align: middle;
				margin-right: 6px;
				width: 17px;
				&.calc- {
					vertical-align: top;
					width: 13px;
				}
			}
			a {
				font-size: 13px;
				color: #E7463C;
				text-decoration: none;
				display: inline-block;
			}
		}	
	}
	&__button {
		margin-bottom: 5px !important;
		margin-top: 10px !important;
		border: 2px solid @red !important;
		line-height: 33px !important;
	}
	&__video-box {
		width: 215px;
		height: 112px;
		background: #e3e3e3;
		margin-top: 10px;
		display: inline-block;
		line-height: 112px;
		margin-top: 15px;
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
			float: left;
			border: 0;
		}
		img {
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 10px;
		}
		.text {
			width: 100%;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			text-align: center;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.3em;
			color: #808080
		}
	}
	&__small-text {
		font-size: 12px;
		font-weight: 300;
		width: 100%;
		float: left;
		margin-bottom: 20px;
		padding-left: 30px;
		box-sizing: border-box;
		color: ##808076;
		&:before {
			content: '';
		    width: 18px;
		    height: 1px;
		    background: #CBCBCB;
		    display: block;
		    margin-top: 0px;
		    margin-bottom: 10px;
	    }
	    a {
	    	color: #808076;
	    	text-decoration: none;
	    }
	}
}

.page-button {
	width: 215px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	color: @gray;
	line-height: 35px;
	display: inline-block;
	margin: 0 auto;
	border: 1px solid @red;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.1em;
	box-sizing: border-box;
	transition: 0.3s;
	background: #fff;
	&:hover {
		background: @red;
		color: #fff;
	}
}

.page-vertical-menu {
	height: 36px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #F9F9F9;
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	li {
		float: left;
		display: inline;
		padding: 0 25px;
		cursor: pointer;
		position: relative;
		height: 36px;
		line-height: 36px;
		a {
			color: #777;
			text-decoration: none; 
		}
		&:hover a {
			color: #E7463C;
		}
	}
	.active {
		border-bottom: 1px solid #E7463C;
		padding: 0 25px;
		a {
			color: #E7463C;
		}
	}
}

.button-animate-red {
	transition: 0.3s !important;
	&:hover {
		background: @red !important;
		color: #fff !important;
	}
}


// Tabs

.tabs {
	width: 100%;
	margin: 0 0 30px;
}
.tabs__caption {
	height: 36px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #F9F9F9;
	width: 100%;
	margin: 0;
	padding: 0;

}
.tabs__caption li {
	float: left;
	display: inline;
	// margin: 0 1px -1px 0;
	padding: 0 25px;
	color: #777;
	cursor: pointer;
	// border-bottom: 1px solid #F9F9F9;
	position: relative;
	height: 36px;
	line-height: 36px;
}
.tabs__caption li:hover,
.vertical .tabs__caption li:hover {
	color: #E7463C;
}
.tabs__caption .active {
	color: #E7463C;
	border-bottom: 1px solid #E7463C;
	padding: 0 25px;
}
.tabs__content {
	display: none;

	margin-top: 30px;
}
.tabs__content.active {
	display: block;
}

.tabs.vertical {
	width: 440px;
	border-left: 160px solid #FFF;
}
.vertical .tabs__caption {
	width: 160px;
	float: left;
	display: inline;
	margin: 0 0 0 -160px;
}
.vertical .tabs__caption li {
	padding: 0 13px;
	margin: 0 0 1px;
	border: 1px solid #E4E4E4;
	border-right: 1px solid #F9F9F9;
	width: 132px;
	height: 25px;
}
.vertical .tabs__caption li:hover {
	width: 131px;
}
.vertical .tabs__caption .active {
	width: 133px;
	color: #444;
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
	border-right: 1px solid #EFEFEF;
	margin-right: -1px;
}
.vertical .tabs__content {
	border-width: 1px;
}

// Accordion 

.accordion {
	width: 100%;
	float: left;
	&__toggle {
		width: 100%;
		float: left;
		border-bottom: 1px solid #E5E5E5;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
		color: #E7463C;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 10px;
	}
	&__inner {
		width: 100%;
		float: left;
		display: none;
		font-size: 13px;
		line-height: 18px;
		padding-top: 10px;
	}
}

// Feedback button

.feedback-button {
	width: 157px;
	height: 35px;
	border: 2px solid @red;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: @gray;
	display: block;
	float: left;
	text-decoration: none;
	box-sizing: border-box;
	line-height: 32px;
	margin-top: 10px;
}


// Selectbox styles 

.jq-selectbox__select {
	height: 36px;
	width: 215px;
	box-sizing: border-box;
	border: 1px solid #D4D4DF;
	padding-left: 15px;
	background: none;
	border-radius: 0;
	line-height: 34px;
	color: #000;
	font-size: 13px;
	cursor: pointer;
	text-align: left;
}

.jq-selectbox__select:hover {
	background: none;
}


.jq-selectbox.focused .jq-selectbox__select {
	// background: none;
	// color: #fff;
}

.jq-selectbox__select:active {
	// background: #00a1b3;
	// color: #fff;
	box-shadow: none;
	// border: 12px solid #00a1b3;
}

.jq-selectbox.focused .jq-selectbox__select {
	// border: 2px solid #00a1b3;
}

// !

.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	box-shadow: none;
	color: #888;
}

.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	// white-space: nowrap;
	text-overflow: ellipsis;
}

.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	border-left: 0;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 36px;
	height: 36px;
	border: 0;
	background: url("../img/layout/select-down.png") no-repeat center center;
}

.jq-selectbox.opened .jq-selectbox__trigger-arrow {
	background: url("../img/layout/select-up.png") no-repeat center center !important;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	background: url("../img/layout/select-up.png") no-repeat center center !important;
}

.jq-selectbox__dropdown {
	box-sizing: border-box;
	// width: 400px;
	margin: 0;
	padding: 0;
	border: 0px;
	border-radius: 0px;
	background: #F9F9F9;
	// box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.2);
	color: #000;
	font-size: 13px;
	cursor: pointer;
	text-align: left;
}

.jq-selectbox ul {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
	padding-right: 32px;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.jq-selectbox li {
	min-height: 18px;
	display: block;
	float: left;
	padding: 10px 10px 10px 10px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	// white-space: nowrap;
	color: #000;
	width: 100%;
}

.jq-selectbox li.selected {
	background-color: #fff;
	color: #333;
}

.jq-selectbox li:hover {
	background-color: #fff;
	color: #333;
}

/* Toggle menu */

#toggle {
  width: 25px;
  height: 17px;
  float: left;
  margin-top: 9px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 2px;
  background-color: @red;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

#toggle-big {
  width: 25px;
  height: 17px;
  float: left;
  margin-top: 10px;
}

#toggle-big span:after,
#toggle-big span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
}
#toggle-big span:after{
  top: 8px;
}
#toggle-big span {
  position: relative;
  display: block;
}

#toggle-big span,
#toggle-big span:after,
#toggle-big span:before {
  width: 100%;
  height: 2px;
  background-color: #989DB7;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle-big.on span {
  background-color: transparent;
}
#toggle-big.on span:before {
  transform: rotate(45deg) translate(6px, 6px);
}
#toggle-big.on span:after {
  transform: rotate(-45deg) translate(5px, -5px);
}
#toggle-big.on + #menu {
  opacity: 1;
  visibility: visible;
}



/* General Button Style */

.triangle-button {
	width: 100%;
	float: left;
	background: yellow;
	position: relative;
}

.button {
	display: inline-block;
	position: relative;
	background: transparent;
	width: 205px;
	height: 44px;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	color: #e04e5e;
	// margin: 40px auto;
	box-sizing: border-box;
	font-size: 12px;
	text-transform: uppercase;
	color: @gray;
	letter-spacing: 0.2em;
	z-index: 1;
}
.button:before,
.button:after {
  position: absolute;
  content: '';
  width: 200px;
  left: 0px;
  height: 19px;
  z-index: -1;
}

.button:before {
  transform: perspective(10px) rotateX(3deg);
}
.button:after {
  top: 21px;
  transform: perspective(10px) rotateX(-3deg);
}

/* Button Border Style */

.button.border:before,
.button.border:after {
  border: 2px solid #e04e5e;
}
.button.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.button.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

/* Button hover styles */

.button.border:hover:before,
.button.border:hover:after {
  background: #e04e5e;
}
.button.border:hover {
  color: #fff;
}

// Footer button 

.footer-button {
	display: inline-block;
	position: relative;
	background: transparent;
	width: 205px;
	height: 66px;
	line-height: 66px;
	text-align: center;
	text-decoration: none;
	// margin: 40px auto;
	box-sizing: border-box;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff !important;
	letter-spacing: 0.2em;
	z-index: 1;
	float: right;
	margin-right: 10px;
	transition: 0.3s;
}
.footer-button:before,
.footer-button:after {
  position: absolute;
  content: '';
  width: 200px;
  left: 0px;
  height: 30px;
  z-index: -1;
  transition: 0.3s;
}

.footer-button:before {
  transform: perspective(10px) rotateX(3deg);
  transition: 0.3s;
}
.footer-button:after {
  top: 34px;
  transform: perspective(10px) rotateX(-3deg);
  transition: 0.3s;
}

/* footer-Button Border Style */

.footer-button.border:before,
.footer-button.border:after {
  border: 2px solid #BC223C;
  transition: 0.3s;
}
.footer-button.border:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
  transition: 0.3s;
}
.footer-button.border:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
  transition: 0.3s;
}

/* footer-Button hover styles */

.footer-button.border:hover:before,
.footer-button.border:hover:after {
  background: #BC223C;
}
.footer-button.border:hover {
  color: #fff;
}

.scrolloff {
    pointer-events: none;
}

// Big menu

.big-menu {
	width: 100%;
	float: left;
	z-index: 999;
	position: absolute;
	top: 130px;
	display: none;
	background: #FBFDFF;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
	text-align: center;
	.container {
		position: relative;
		padding: 30px 0;
		background: #FBFDFF;
		display: inline-block;
		text-align: left;
		&:after {
			content: "";
			position: absolute;
			width: 15px;
			height: 15px;
			background: #FBFDFF;
			transform: rotate(45deg);
			-ms-transform:rotate(45deg); /* IE 9 */
			-moz-transform:rotate(45deg); /* Firefox */
			-webkit-transform:rotate(45deg); /* Safari and Chrome */
			-o-transform:rotate(45deg); /* Opera */
			top: -8px;
    		left: 5px;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
			z-index: -1;
		}
	}
	&__left {
		width: 50%;
		float: left;
	}
	&__box {
		width: 50%;
		float: left;
		&:last-child {
			float: right;
		}
		&.last:before {
			content: '';
			display: block;
			width: 41px;
			height: 1px;
			color: #EBEFF2;
			background: #EBEFF2;
			margin-top: 0px;
			margin-bottom: 15px;
		}
	}
	&__headliner {
		font-size: 11px;
		text-transform: uppercase;
		color: #575756;
		line-height: 18px;
		margin-bottom: 15px;
		font-weight: 500;
		width: 100%;
		float: left;
		letter-spacing: 0.1em;
		&:after {
			content: '';
			display: block;
			width: 41px;
			height: 1px;
			color: #EBEFF2;
			background: #EBEFF2;
			margin-top: 15px;
		}
	}
	&__list {
		font-size: 14px;
		line-height: 18px;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
		li {
			list-style-type: none;
			margin-bottom: 10px;
			a {
				color: #D95962;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&__right {
		width: 50%;
		float: left;
	}
	&__form {
		width: 100%;
		float: left;
		input[type="text"] {
			border: 0;
		    width: 213px;
		    font-size: 13px;
		    border-bottom: 1px solid #CBCBCB;
		    color: #000;
		    outline: 0;
		    padding-bottom: 10px;
		    margin-bottom: 20px;
		    margin-right: 27px;
		    vertical-align: top;
		    float: left;
		    background: none;
		    &:focus {
		    	border-bottom: 1px solid @red;
		    }
		}
		textarea {
			width: 454px;
			height: 72px;
			background: url("../img/layout/textarea-line.png");
		    font-size: 13px;
		    line-height: 24px;
		    margin-bottom: 20px;
		    border: 0;
		    outline: none;
		    padding: 0;
		    overflow: hidden;
		    display: inline-block;
		    margin-top: 5px;
		}
		input[type="submit"] {
			width: 220px;
	   		height: 35px;
	   		display: block;
	   		border-radius: 5px;
	   		border: 2px solid @red;
	   		line-height: 31px;
	   		text-align: center;
	   		color: @gray;
	   		text-decoration: none;
	   		font-size: 12px;
	   		text-transform: uppercase;
	   		box-sizing: border-box;
	   		background: none;
		}
	}
}

.search-box {
	width: 874px;
	background: #FBFDFF;
	position: absolute;
	z-index: 900;
	display: none;
	top: 85px;
    left: 44px;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    &__input {
		width: 100%;
		float: left;
		border-bottom: 1px solid @red;
		padding-bottom: 10px;
		margin-bottom: 20px;
		input[type="text"] {
			width: 90%;
			float: left;
			box-sizing: border-box;
			font-size: 13px;
			font-weight: 300;
			border: 0;
			background: none;
			height: 21px;
			outline: none;
		}
		input[type="submit"] {
			width: 10%;
			float: left;
			box-sizing: border-box;
			border: 0;
			height: 21px;
			background: url("../img/layout/header-search.svg") no-repeat right center;
			outline: none;
		}
    }
    &__result {
    	width: 100%;
    	float: left;
    	border-bottom: 1px solid #CBCBCB;
    	font-size: 13px;
    	font-weight: 300;
    	padding-bottom: 10px;
    	margin-bottom: 10px;
    }
    &__button-container {
    	width: 100%;
    	float: left;
    	margin-top: 20px;
    }
   	&__button {
   		width: 220px;
   		height: 35px;
   		display: block;
   		border-radius: 5px;
   		border: 2px solid @red;
   		line-height: 33px;
   		text-align: center;
   		color: @gray;
   		text-decoration: none;
   		font-size: 12px;
   		text-transform: uppercase;
   		box-sizing: border-box;
   	}
}